<html>
  <head>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
    <title>Error 500</title>
    <style>
      .imagen {
          display: flex;
          align-items: center;
          justify-content: center;
      }
      .imagen > img{
          max-width: 40%;
          max-height: 400px;
          border-radius: 25px;
      }
  </style>
  </head>
  <body> 
    <h1>&#128534; 500 El server esta fuera de servicio</h1>
    <p>Lo sentimos pero hubo un error en nuestro server...</p>
    <div class="imagen">    
      <img src="https://th.bing.com/th/id/OIG.5At91GVh3VjJBr8DXf9S?pid=ImgGn" alt="Not Found" title="ups... Not Found">
  </div>
  </body>
</html>