<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="img/png" sizes="32x32" href="https://img.icons8.com/fluency/256/domain.png">
        <title> My APP - Author </title>
    </head>
    <body>
        <h1 style="color: purple; font-family: 'consolas'"> &#128527 Who's the author? </h1>
        <hr style="background-color: green; height: 3px">
        <p style="font-family: consolas">
            I'm a young programmer, actuatly I'm studying in Instituto Tecnológico de Gustavo A. Madero
            , here I selected Technologies of Information and Comunications' engineer.
        </p>
        <p style="font-family: consolas">
            This page was created only using JavaScript and IDE of VisualStudio Code &#128521
        </p>
    </body>
</html>